@model VidyaCat.Models.GameModels.GameDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Developer.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSubgenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSubgenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondSubgenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondSubgenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdSubgenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdSubgenre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
